body {
  background: url(https://img.freepik.com/free-photo/supermarket-banner-concept-with-ingredients_23-2149421154.jpg?size=626&ext=jpg&uid=R110490361&ga=GA1.1.760507894.1680008824&semt=ais);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.smallContainer {
  background: url(https://img.freepik.com/free-photo/close-up-green-kiwi-fruit-slices_53876-33622.jpg?size=626&ext=jpg&uid=R110490361&ga=GA1.1.760507894.1680008824&semt=ais);
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: center;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
}

.containerAnalysis {
  background: whitesmoke;
  width: 24vw;
}

.search {
  padding: 9px;
  border: none;
  font-family: 'EB Garamond', serif;
  width: 20vw
}

img {
  margin-top: 10px;
}

button {
  border: none;
}

form {
  display: flex;
}

h1, p {
  font-family: 'EB Garamond', serif;
}


@media all and (max-width: 800px) {
  search {
    width: 10vw
  }  
  .containerAnalysis {
    width:30vw
  } 
  p {
    font-size: 10px;
  }

}